
* {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 1600px;
    height: 2928px;
    background: #FFFFFF;
    margin: 0 auto;
  }
  