
.header {
    width: 1600px;
    height: 80px;
}

.logo {
    display: flex;
    margin-top: 24px;
    font-size: 26px;
    margin-left: 219px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
}

.colorlogo {
    color: $main-cite-color;
}

.nav {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-left: 418px;
    margin-top: -22px;
    margin-bottom: 25px;
}

.nav a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: #212121;
    font-family: $font-roboto;
    font-weight: 500;
    line-height: 1.17;
}

.nav a:hover {
    color: $main-cite-color;
}

.nav-li::after {
    position: absolute;
    display: block;
    width: 70px;
    height: 4px;
    content: "";
    background: $main-cite-color;
    border-radius: 2px;
    margin-top: 30px;
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}

.nav-contacts {
    display: flex;
    list-style-type: none;
    margin-top: -45px;
    margin-bottom: 32px;
    margin-left: 1035px;
    gap: 53px;
    font-family: sans-serif;
}

.nav-contacts-svg {
    width: 161px;
    height: 16px;
    fill: #757575;
}

.nav-contacts-svg:hover {
    fill: $main-cite-color;
}

.nav-contacts a {
    text-decoration: none;
}

.nav-contacts a:hover {
    color: $main-cite-color;
}

.header-line {
    width: 100%;
    border: 1px 0px 0px 0px;
    border: 1px solid #ECECEC;
}
